$white-smoke: #f1f1f1;
$grey: #ccc;
$grey2: #716969;
$green: #4CAF50;
$blue: #6ec0fb;
$black: #333;
$ipad: 768px;

.website {
  padding: 0 5px;
  .nav {
    .navbar {
      background-color: $blue;
      .navbar-header {
        float: none;
        .logo {
          background: url("../assets/logo.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          margin-left: 10px;
          min-height: 50px;
        }
        .logout {
          float: right;
          margin: 5px 10px 0 0;
          .media-img  {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .login {
    border: 3px solid $white-smoke;
    form {
      input[type=email], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid $grey;
        box-sizing: border-box;
      }
      .password {
        display: block;
      }
      button {
        background-color: $green;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 20%;
      }
      button:hover {
        opacity: 0.8;
      }
      .login-status {
        margin-top: 20px;
      }
    }
  }

  .signup {
    border: 3px solid $white-smoke;
    h4{
      text-align: center;
      color: $blue;
    }
    .name{
      margin-top: 15px;
      input {
        text-transform: capitalize;
      }
    }
    .checkbox {
      margin-top: 0;
    }
  }

  .dashboard {
    .user-tile {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 85%;
      @media (max-width: $ipad){
        width: 100%;
      }
      .cover {
        background: url("../assets/mountain.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 150px;
      }
      .logo {
        border: solid 2px white;
        left: 38%;
        min-height: 20%;
        min-width: 25%;
        position: absolute;
        top: 120px;
        @media (max-width: $ipad) {
          left: 41%;
          min-height: 20%;
          min-width: 17%;
        }
      }
      .page-header {
        text-align: center;
      }
      .content-size {
        font-size: 14px;
        line-height: 25px;
      }
      .post-comment {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        .post {
          margin-left: 25px;
        }
        > div {
          padding-right: 10px;
        }
        .comment {
          padding-left: 10px;
        }
        > div {
          border-right: 1px solid $grey;
          float: left;
          text-align: center;
        }
        > div:last-child {
          border-right: none;
        }
      }
    }

    .tab-wrapper {
      display: inline-block;
      width: 100%;
      .nav-tabs {
        margin-bottom: 40px;
      }
      .tabs-width {
        .nav-tabs>li {
          width: 25%;
        }
      }
      .profile {
        .basic {
          .header {
            align-items: center;
            border-bottom: solid 2px $grey;
            color: $grey2;
            display: flex;
            font-size: 16px;
            height: 60px;
            button {
              margin-left: 75%;
              width: 5%;
            }
          }
          .information {
            .row {
              margin-top: 10px;
              padding-left: 20px;
              .detail {
                color: $grey2;
                .input-size {
                  width: 40%;
                }
              }
            }
          }
        }
        .work {
          margin-top: 35px;
          .header {
            align-items: center;
            border-bottom: solid 2px $grey;
            color: $grey2;
            display: flex;
            font-size: 16px;
            height: 60px;
            button {
              margin-left: 86%;
              width: 5%;
            }
          }
          .information {
            .row {
              margin-top: 10px;
              padding-left: 20px;
              .detail {
                color: $grey2;
                .input-size {
                  width: 40%;
                }
              }
            }
          }
        }
      }
    }
  }

  .home {
    .post-content {
      margin-top: 25px;
      margin-right: 25px;
      span {
        font-size: 14px;
        color: $grey2;
      }
    }
    .title {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 15px 15px 5px 15px;
    }
    .profile {
       height: 350px;
       width: 100%;
    }
    .footer {
      border-top: 1px solid $grey;
    }
    .add-post {
     position: fixed;
     bottom: 10px;
     right: 31px;
     .btn-primary {
       background-color: $blue;
       border-radius: 50%;
       width: 40px;
       display: flex;
       justify-content: center;
       height: 40px;
       .glyphicon {
         font-size: 22px;
         left: 1px;
         top: 8px;
       }
     }
   }

   .home-icon {
     border: 3px solid $blue;
     z-index: 10;
     top: 25px;
     position: relative;
     margin-top: 20px;
   }
   .gap {
     padding-right: 2px;
   }
   .overflow-visible {
     overflow:  visible;
   }
   .timeline {
     position: relative;
     margin: 0 auto;
     ::after {
       content: '';
       position: absolute;
       width: 3px;
       background-color: $blue;
       top: -12px;
       bottom: -30px;
       left: 52%;
       margin-left: -3px;
     }
   }
   .before:before {
      position: absolute;
      content: ' \25CF';
      font-size: 35px;
      top: -45px;
      left: 51%;
      margin-left: -11px;
      color: $blue;
    }
    .after:after {
       position: absolute;
       content: ' \25CF';
       font-size: 35px;
       top: 550px;
       left: 51%;
       margin-left: -11px;
       color: $blue;
     }
     .noafter:after {
       display: none;
     }
     .hori-timeline {
       width: 2%;
       position:relative;
       top: 70px;
       border-top: 3px solid $blue;
     }
     .like {
       font-size: 20px;
     }
   }

   .modal-header {
    background-color: $blue;
    color:white !important;
    font-size: 30px;
    text-align: center;
  }
  .col-padding {
    padding: 0;
  }
  .error {
    color:red;
    font-family:verdana, Helvetica;
  }
  .thumbnail {
    padding: 0;
  }
  .cover-img {
    background: url("../assets/mountain.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 230px;
    @media (max-width: $ipad) {
      display: none;
    }
  }
  .media-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}
