<div class="side-nav clearfix">
  <ul class="left">
    <li class="data" onclick="getSubject('Java')"><a href="javascript:void(0);">Java</a> </li>
    <li class="data" onclick="getSubject('Oracle')"><a href="javascript:void(0);">Oracle</a> </li>
    <li class="data" onclick="getSubject('Php')"><a  href="javascript:void(0);">Php</a> </li>
    <li class="data" onclick="getSubject('Mysql')"><a  href="javascript:void(0);">Mysql</a> </li>
    <li class="data" onclick="getSubject('Css')"><a href="javascript:void(0);">Css</a> </li>
    <li class="data" onclick="getSubject('Jquery')"><a  href="javascript:void(0);">Jquery</a> </li>
    <li class="data" onclick="getSubject('Html')"><a  href="javascript:void(0);">Html</a> </li>
    <li class="data" onclick="getSubject('Python')"><a  href="javascript:void(0);">Python</a> </li>
  </ul>
</div>
