<div class="side-nav clearfix">
  <ul class="left">
    <li class="data highlight"  data-book="java"><a  href="javascript:void(0);">Java</a> </li>
    <li class="data"  data-book="android"><a  href="javascript:void(0);">Andriod</a> </li>
    <li class="data"  data-book="php"><a  href="javascript:void(0);">Php</a> </li>
    <li class="data"  data-book="mysql"><a  href="javascript:void(0);">Mysql</a> </li>
    <li class="data"  data-book="css"><a  href="javascript:void(0);">css</a> </li>
    <li class="data"  data-book="jquery"><a  href="javascript:void(0);">Jquery</a> </li>
    <li class="data"  data-book="html"><a  href="javascript:void(0);">Html</a> </li>
    <li class="data"  data-book="python"><a  href="javascript:void(0);">Phyton</a> </li>
  </ul>
</div>
