<div class="dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-padding">
        <div class="user-tile thumbnail">
          <div class="cover"> </div>
          <img src="{{profileImg}}" class="logo media-img"/>
          <div class="page-header">
             <p><b class="user-name">{{name}}</b></p>
             <h6 class="user-profile">{{profile}}</h6>
          </div>

          <div class="post-comment clearfix">
            <div class="post">
              <div><p>Posts</p></div>
              <div class="content-size"> 12M </div>
            </div>
            <div class="comment">
              <div><p>Comment</p></div>
              <div class="content-size"> 1 </div>
            </div>
            <div class="comment">
              <div><p>Following</p></div>
              <div class="content-size following-counts"> {{followingCounts}} </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-9 col-padding">
        <div class="tab-wrapper">
         <div class="thumbnail cover-img"></div>
         <div class="tabs-width">
           <ul class="nav nav-tabs" id="tabs">
             {{#tabs}}
              <li class='show-tab-data' data-tab-content="{{.}}"><a href="javascript:void(0);">{{.}}</a></li>
             {{/tabs}}
           </ul>

           <div class="tab-content" id="tab-content"></div>

         </div>
        </div>
     </div>
    </div>
  </div>
</div>
