<div class="container">
 <div class= "row">
  <div class="col-md-6 col-md-offset-3 login">
    <h2>Login Form</h2>
    <form  name="login" id="login-app">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="email"/>

      <label class="password" for="password">Password</label>
      <input type="password" name="password" placeholder="******"/>

      <div id="login-error" class="error"></div>

      <div class="login-status">
      <button type="button" onclick="changeRoute('signup')" >Signup</button>
      <button class="pull-right" type="submit">Submit</button>
      </div>
    </form>
  </div>
 </div>
</div>
