<div class="profile panel-group">
  <div class="basic panel panel-default">
    <div class="header clearfix panel-heading">
      <span>BASIC INFORMATION  </span>
      <button class="edit-info pull-right btn-primary">
        <span class="glyphicon glyphicon-edit" onclick="editBasicProfile()"></span>
      </button>
    </div>
    <div id="profile-basic-view"></div>
    <div id="profile-basic-edit"></div>
  </div>

  <div class="work panel panel-default">
    <div class="header clearfix panel-heading">
      <span>WORKS </span>
      <button class="edit-work pull-right btn-primary">
        <span class="glyphicon glyphicon-edit" onclick="editWorkProfile()"></span>
      </button>
    </div>
    <div id="profile-work-view"></div>
    <div id="profile-work-edit"></div>
  </div>

</div>
