$error-msg: #ff0000;

button {
  padding: 4px;
}

.container {
  width: 70%;

  .heading {
    h2 {
      display: inline-block;
      text-align: center;
      width: 70%;
    }
    button {
      width: 15%;
    }
  }

  .error-msg {
    color: $error-msg;
  }
  .wrapper {
    margin: 0px;
    width: 85%;
  }
}
